
/* ---- HEADER ---- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

.header-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.header-logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.header-logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 30px;
}
header nav span{
  display: inline-block;
  padding: 20px 10px;
}

.nav-item {
  color: black;
}


/* ---- MAIN-CONTENT ---- */

.main-content {
  display: flex;
  width: 1260px;
  padding-top: 120px;
  margin: 0 auto 80px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/*.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}*/

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.news-bites {
  display: flex;
  flex-direction: column;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bite {
  padding: 10px 20px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
}
/* ---- IMAGES ---- */

.img-content {
  display: flex;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}
.lead-story-tuna {
  background-image: url(./images/img-story-main.png);
  width: 630px;
  font-size: 40px;
  text-align: left;
}

.story-cat {
  background-image: url(./images/img-story-1.png);
}

.sub-story-earth {
  background-image: url(./images/img-story-2.png);
}

.sub-story-erase {
  background-image: url(./images/img-story-3.png);
}

.cookie {
  height: 240px;
}
/* ---- TEMP ----

div {
  border: 1px solid black;
}
*/
